body {
    background: url("background.jpg");
}

.mytitle {
    font-size: 10em;
}

.market {
    margin-top: 4em;
    margin-bottom: 4em;
}

#userInfo {
    text-align: center;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}